{include file="common/header"}

<section style="margin-top:70px;">
    <div class="help-form">
        <div class="mynews-title">
            <span class="mynews-title-ch">申请扶持</span>
            <span class="mynews-title-en">APPLICATION SUPPORT</span>
        </div>
        <div class="myapply-from">
            <div class="myapply-from-name myapply-from-inputstyle">
                <span class="myapply-from-font">姓名：</span>
                <input type="text" name="" id="" placeholder="请输入名字">
            </div>
            <div class="myapply-from-firm myapply-from-inputstyle">
                <span class="myapply-from-font">公司：</span>
                <input type="text" name="" id="" placeholder="请输入公司名称">        
            </div>
            <div class="myapply-from-phone myapply-from-inputstyle">
                <span class="myapply-from-font">电话：</span>
                <input type="text" name="" id="" placeholder="请输入电话">    
            </div>
            <div class="myapply-from-sub">提交</div>
        </div>
    </div>
</section>
    <style>
        .help-form{
    width: 1200px;
    margin: 0 auto;
}
.mynews-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mynews-title-ch{
    font-size: 32px;
}

.myapply-from {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.myapply-from-inputstyle {
    margin-bottom: 15px;
}
.myapply-from-font {
    font-size: 16px;
    color: #2193d2;
}
.myapply-from-inputstyle>input {
    width: 400px;
    height: 40px;
    border: 1px solid #2293cf;
    border-radius: 20px;
    padding-left: 25px;
    outline: none;
}
.myapply-from-sub {
    width: 220px;
    height: 50px;
    background: #32dbea;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 34px;
    /* font-weight: 800; */
    border-radius: 25px;
    margin-top: 50px;
}
    </style>
 {include file="common/footer"}
