<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title>慈善公益</title>
</head>

<body>
    <header>
        <div class="top-msg-area">
            <div class="top-msg">
                <img src="./img/logo.png" alt="" class="top-logo">
                <ul class="top-msg-list">
                    <li>
                        <img src="./img/1.png" alt="">
                        <div class="msg-con">
                            <span>服务热线电话</span>
                            <span>12345678910</span>
                        </div>
                    </li>
                    <li>
                        <img src="./img/2.png" alt="">
                        <div class="msg-con">
                            <span>我们的地址</span>
                            <span>于上海大虹桥板块商务园区漓江桥万达广场</span>
                        </div>
                    </li>
                    <li>
                        <img src="./img/3.png" alt="">
                        <div class="msg-con">
                            <span>我们的服务时间</span>
                            <span>周一至周日 09:00-22:00</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="top-nav">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="aboutus.html">关于我们</a></li>
                <li><a href="solution.html">解决方案</a></li>
                <li><a href="newscenter.html">新闻中心</a></li>
                <li><a href="charity.html">慈善公益</a></li>
                <li><a href="contactus.html">联系我们</a></li>
                <li><a href="joinus.html">加入隆晟</a></li>
            </ul>
        </div>
    </header>
    <section>
        <img src="./img/14.png" class="page-img" alt="">
        <div class="news-page page">
            <div class="news-module">
                <div class="page-news-img">
                    <img src="./img/13.png" alt="">
                </div>
                <div class="news-hanzi">
                    <div class="news-title">企业校园营销如何让用户更快下单？</div>
                    <div class="news-content">
                        完善传统发单式、拉访式，小规模、小范围的推广模式，采用强大的推广团队，并对每一个团队人员进行专业的培训，为企业避免因地推人员流完善传统发单式、拉访式，小规模、小范围的推广模式，采用强大的推广团队，并对每一个团队人员进行专业的
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <img src="./img/footer.png" alt="" class="footer-img">
        <div class="footer-area">
            <div class="footer-con">
                <div class="footer-left">
                    <img src="./img/logo.png" alt="" class="footer-logo">
                    <a href="" class="footer-order">在线预约</a>
                </div>
                <div class="footer-mid">
                    <ul>
                        <li><span>联系我们</span>/CONTACT US</li>
                        <li>联系电话 4000-000-000</li>
                        <li>企业邮箱 XX@163.COM</li>
                        <li>公司地址 于上海大虹桥板块商务园区漓江桥万达广场</li>
                    </ul>
                </div>
                <div class="footer-right">
                    <div class="footer-ewm">
                        <img src="./img/erweima.png" alt="">
                        <span>关注微信公众号</span>
                    </div>
                    <div class="footer-ewm">
                        <img src="./img/erweima.png" alt="">
                        <span>关注微信订阅号</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="record-msg">
            COPYRIGHT @ 2009-2011,WWW.XXXXXX.COM,ALL RIGHTS RESERVED 沪ICP备XXXXXX号
        </div>
    </footer>
</body>

</html>